# User credentials
USER_EMAIL_DEV="<dev_user_email>"
USER_PASSWORD_DEV="<dev_user_password>"

# Admin Data
ADMIN_USER_EMAIL="<test_admin_email>"
ADMIN_USER_PASSWORD="<test_admin_password>"

# Urls
BASE_URL_DEV="<dev_base_url>"
API_URL_DEV="<dev_api_url>"

# Database
DB_USER = "<db_user>"
DB_PASS = "<db_password>"
DB_HOST = "<db_host>"
DB_PORT = "<db_port>"
DB_NAME = "<db_name>"

#QASE
QASE_API_TOKEN="<qase_api_token>"
QASE_PROJECT_CODE="<qase_project_code>"
QASE_RUN_NAME="Pytest Playwright Run"
QASE_RUN_COMPLETE=true