# User credentials
USER_EMAIL_DEV="<dev_user_email>"
USER_PASSWORD_DEV="<dev_user_password>"

# Admin Data
ADMIN_USER_EMAIL="<test_admin_email>"
ADMIN_USER_PASSWORD="<test_admin_password>"

# Urls
BASE_URL_DEV="<dev_base_url>"
API_URL_DEV="<dev_api_url>"